*{
    margin: 0%;
    padding:0%;
    font-family: 'Courier New', Courier, monospace;
}
.logo img{
 
    background-size: 600%;
    height:200vh;
    width: 100;
}
.one{
    position: absolute;
    

}
.main{
    margin: 0%;
    max-width: 1200px;
}
.sub{
    position: absolute;
    border-radius: auto;
    color: red;
}