body {
    transition-duration: 1s;
    height: 100%;
    padding: 0%;
    margin: 0%;
    background-image: url("back2.webp");
    /* background-size: cover; */
}

.upper {
    transition-duration: 2s;
    padding: 0%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.upper>button {
    transition-duration: 1s;
    font-weight: bolder;
    /* color: white; */
    height: 5vw;
    width: 15%;
    /* color: aquamarine; */
    margin: 0%;
    background-color: #a71d28;
}


/*
.home>.homeBtnImg{

    background-position: center;
    background-repeat: no-repeat;
    background-size: 10%;
    background-image: url("home.png");
} */

.upper>button:hover {
    background-color: rgb(204, 95, 95);
}

.home {
    border-top-left-radius: 0px;
    border-bottom-right-radius: 60px;
    font-size: 4vw;
    padding-bottom: 6%;
    font-weight: bolder;
}

.bubble {
    filter: blur(15px);
    /* flex */
    display: flex;
    flex-direction: row;
    transition-duration: 2s;
    /* filter: blur(5px); */
    opacity: 80%;
    color: azure;
    font-size: 6vw;
    /* text-align: center; */
    padding-top: 1.3%;
    height: 15vw;
    width: 30%;
    background-size: 80%;
    /* background-repeat: no-repeat;
    background-image: url("bble.png"); */
}

.bubble>img {
    margin-right: -3vw;
    opacity: 30px;
    height: 100%;
}

.pause {
    padding-bottom: 6%;
    font-size: 4vw;
    border-bottom-left-radius: 60px;
}

.home>.imgUpper {
    height: 6vw;
}


/* Output section */

.mainGameInput {
    transition-duration: 2s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1%;
    text-align: center;
    margin-top: 40%;
    height: 30vw;
    width: 100%;
    /* background-color: #a71d28; */
    flex-wrap: wrap;
}

.mainGameInput>div {
    font-size: 22vw;
    background-image: url("word.png");
    background-position: center;
    background-size: cover;
    height: 90%;
    width: 23%;
    /* border: solid black 3px; */
    border-radius: 100%;
    opacity: 60%;
    filter: drop-shadow(30px);
}


/* Input section */

.inputer {
    transition-duration: 2s;
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 64%;
    height: 60vw;
    /* background-color: #a71d28; */
}

.inputer>button {
    background-image: url("btn.png");
    opacity: 90%;
    /* filter: blur(49%); */
    background-size: cover;
    font-size: 20vw;
    border-radius: 100%;
    height: 45%;
    width: 31%;
}


/* lose css is here  */

.lose {
    transition-duration: 2s;
    z-index: 10;
    position: absolute;
    background-color: #07659bdc;
    border: solid 5px #a71d28;
    border-radius: 30px;
    margin-top: 40%;
    height: 70vw;
    width: 90%;
    margin-left: 5%;
    color: #a71d28;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.lose>h2 {
    font-size: 10vw;
    padding: 10%;
    border-radius: 100%;
    background-color: rgba(157, 230, 248, 0.342);
}

.buttonLose {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.buttonLose>button {
    border-radius: 30px;
    background-color: #07659bdc;
    height: 20vw;
    width: 30%;
}


/* Start css is here  */

.start {
    transition-duration: 2s;
    z-index: 11;
    position: absolute;
    background-color: #07659bdc;
    border: solid 5px #a71d28;
    border-radius: 30px;
    margin-top: 40%;
    height: 100vw;
    width: 90%;
    margin-left: 5%;
    color: #a71d28;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.start>h2 {
    font-size: 8vw;
    padding: 10%;
    border-radius: 100%;
    background-color: rgba(157, 230, 248, 0.342);
}

.Worddisplay {
    text-align: center;
    padding-top: 20%;
    font-size: 13vw;
    /* background-color: #a71d28; */
    height: 40vw;
    width: 90%;
    background-image: url("image/bubble.png");
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
}


/* Pause css is here  */

.pauseDiv {
    transition-duration: 2s;
    z-index: 10;
    position: absolute;
    background-color: #07659bdc;
    border: solid 5px #a71d28;
    border-radius: 30px;
    margin-top: 40%;
    height: 70vw;
    width: 90%;
    margin-left: 5%;
    color: #a71d28;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.pauseDiv>h2 {
    font-size: 10vw;
    padding: 10%;
    border-radius: 100%;
    background-color: rgba(157, 230, 248, 0.342);
}

.buttonPause {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.buttonPause>button {
    color: white;
    font-size: 5vw;
    border-radius: 30px;
    background-color: #07659bdc;
    height: 20vw;
    width: 30%;
}


/* Win css is here  */

.winDiv {
    /* display: flex; */
    transition-duration: 2s;
    z-index: 10;
    position: absolute;
    background-color: #07659bdc;
    border: solid 5px #a71d28;
    border-radius: 30px;
    margin-top: 40%;
    height: 70vw;
    width: 90%;
    margin-left: 5%;
    color: #a71d28;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.winDiv>h2 {
    font-size: 10vw;
    padding: 10%;
    border-radius: 100%;
    background-color: rgba(157, 230, 248, 0.342);
}

.buttonWin {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.buttonWin>button {
    color: white;
    font-size: 5vw;
    border-radius: 30px;
    background-color: #07659bdc;
    height: 20vw;
    width: 23%;
}

.replaylose {
    color: white;
    font-size: 5vw;
}

.homelose {
    color: white;
    font-size: 5vw;
}