 
body{
    transition-duration: 19s;
    height: 100%;
    /* background-image: url(giphy.webp); */
    padding: 0%;
    margin: 0%;
}
body>.weep>img{
    filter: blur(7px);
    height: 230vw;
    width: 100%;
}
/*  */
.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
/* The switch - the box around the
slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {display:none;}
  
  .slid {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slid:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slid {
    background-color: #1956fd;
  }
  
  input:focus + .slid {
    box-shadow: 0 0 1px #1956fd;
  }
  
  input:checked + .slid:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  }
  


/*  */
.slidecontainer {
    width: 70%; /* Width of the outside container */
    
  }
.new{
    margin-top: 10px;
}
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 40px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 50px;
    border-radius: 50%; 
    background: #1956fd;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* background: #04AA6D; */
    cursor: pointer;
  }  




/*  */

/* .upper{
    filter: blur(10px);
    padding: 0%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */
.upper>button{
    filter: blur(10px);

    transition-duration: 1s;
    font-weight: bolder;

    /* color: white; */
    height: 5vw;
    width: 15%;
    /* color: aquamarine; */
    margin: 0%;
    background-color: #a71d28;
}

.levels{
    transition-duration: 2s;
    border-radius: 30px;
    margin-left: 5%;
    position:absolute;
    top: 20%;
    left: 45%;
    transform: translate(-50%, -50%);
    z-index: 7;
    background-color: #07659bdc;
    height: 160vw;
    width: 70%;
    margin-top: 40%;


}



.levels>.back{
    background-position: center;
    background-size: cover;
    border-top-left-radius: 30px;
    color: white;
    background-color: #a71d28;
    height: 10%;
    width: 30%;
    border-bottom-right-radius: 100%;
}
.levelbtn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: white;
    height: 80%;
    width: 100%;
}
.levelbtn>button{
    background-color: #a71d29be;
    height: 17%;
    width: 40%;
    color: aliceblue;
    font-size: 9vw;
    border-radius: 30px;
}
.levelbtn>button:hover{
    background-color:#a71d28    ;
}
.levels>.back>img{
    height: 60%;
    margin-left: -10%;

}
.levels>h2{
    font-size: 8vw;
    text-decoration: underline;
    text-align: center;
    margin-top: -4%;
    color: white;
}